/*body 전체의 속성*/
body {
	margin:0;
	padding:0;
	font-family:"돋움";
	font-size:12px;
	font-weight:normal;
	color:#8C8C8C;
	background-color: white;
	//background-size: cover;
	margin-right: auto;
	margin-left: auto;
	width: 100%
	//text-align: center;
	vertical-align: middle;	
}

/*이미지들의 설정*/
img {
	border:0;
}

/*하이퍼 링크들의 설정*/
a {
	text-decoration:none;
}

a:link {
	font-family:"";
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	//color:white;
}

a:active {

}

a:visited {
	text-decoration: none;
}


a:hover {
	text-decoration: underline;  
}

/*??*/
ul, li {
	margin:0;
	padding:0;
	list-style:none;
}

.clear { clear:both; }

.linespace_10 {
	height:10px;
}

/*메인화면 body 설정*/
#wrap {
	width:100%;
	min-width: 1500px;
	margin-right: auto; 
	margin-left: auto; ////왜안먹지..
	min-height:600px;
/*	border:solid 1px #00ff00; */
}

/*top_menu 설정*/
header {
	margin-right: auto;
	margin-left: auto;
	height:120px;
/*	border:solid 1px black; */
	margin-top:0px;
	background-color: ;
} 

/*호서대학교 마크(왼쪽위) 설정*/
#logo {
	float:left;
	margin-left:20px;
	margin-top:30px;
}

/*모바일 소프트웨어학과 텍스트 설정*/
#moto {
	float:left;
	margin-left:10px;
	margin-top:30px;
}

/*우측 상단 로그인 글씨 설정*/
#top_login {
	float:right;
	margin-right:20px;
	margin-top: 20px;
	color: black;
}


/*메뉴 6가지들의(학과소개, 학과게시판 등) 통합 설정(div 객체)*/
ul {
	//border-bottom: 2px solid black;
	padding: 20px 10px;
}


/*상단 드롭메뉴 관련 css 들임. 여기부터 시작*/
/*다운 메뉴 */
#topMenu {
 /*       height: 30px;   메인 메뉴의 높이 */
 /*       width: 850px;   메인 메뉴의 넓이 */
	  float: right;

}
#topMenu ul {           /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */
    list-style-type: none;  /* 메인 메뉴 안의 ul 내부의 목록 표시를 없애줌 */
    margin: 0px;            /* 메인 메뉴 안의 ul의 margin을 없앰 */
    padding: 0px;           /* 메인 메뉴 안의 ul의 padding을 없앰 */
}

#topMenu ul li {            /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */
    color : black;           /* 글씨 색을 검정색으로 설정 */
    background-color: ;  /* 배경 색 흰색 설정 */
    float: left;                /* 왼쪽으로 나열되도록 설정 */
    line-height: 30px;          /* 텍스트 한 줄의 높이를 30px로 설정 */
    vertical-align: middle;     /* 세로 정렬을 가운데로 설정 */
    text-align: center;         /* 텍스트를 가운데로 정렬 */
    position: relative;         /* 해당 li 태그 내부의 top/left 포지션 초기화 */
    font-family: "궁서";
    font-size: 7px;
}
.topMenu_link, .submenuLink {           /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
    text-decoration:none;               /* a 태그의 꾸밈 효과 제거 */
    display: block;                     /* a 태그의 클릭 범위를 넓힘 */
    width: 120px;                       /* 기본 넓이를 90px로 설정 */
    font-size: 12px;                    /* 폰트 사이즈를 12px로 설정 */
    font-weight: bold;                  /* 폰트를 굵게 설정 */
    font-family: "궁서", Dotum; /* 기본 폰트를 영어/한글 순서대로 설정 */
}
.topMenu_link {     /* 상위 메뉴의 글씨색을 흰색으로 설정 */
	/*color : black; 효과가 안먹혀서 php에 직접 함.*/
}
.topMenu_list:hover .topMenu_link {    /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */
    color: red;                 /* 마우스를 올렸을 때 글씨 색 빨간색 */
    background-color: #8C8C8C;  /* 마우스를 올렸을 때  배경색을 흰색으로 설정 */
}
.submenuLink {          /* 하위 메뉴의 a 태그 스타일 설정 */
    /*color : black; 효과가 안먹혀서 php에 직접 함.*/            /* 글씨 색을 RGB(2D2D2D)로 설정 */
    background-color: white;    /* 배경색을 흰색으로 설정 */
/*    border: solid 1px black;     테두리를 설정 */
    margin-top: -1px;           /* 위 칸의 하단 테두리와 아래칸의 상단 테두리가 겹쳐지도록 설덩 */
}
.longLink {     /* 좀 더 긴 메뉴 스타일 설정 */
    width: 119px;   /* 하위 메뉴의 넓이는 97px로 설정 */
}
.submenu {              /* 하위 메뉴 스타일 설정 */
	//border: solid 1px black;     /*테두리를 설정 */
	border-top : none;			/*위 테두리만 삭제*/
/*	border-bottom : none;		아래 테두리만 삭제*/
    position: absolute;     /* html의 flow에 영향을 미치지 않게 absolute 설정 */
    height: 0px;            /* 초기 높이는 0px로 설정 */
    overflow: hidden;       /* 실 내용이 높이보다 커지면 해당 내용 감춤 */
    transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(기본) */
    -webkit-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 크롬/사파라ㅣ) */
    -moz-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 파폭) */
    -o-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 오페라) */
	
}
.topMenu_list:hover .submenu { /* 상위 메뉴에 마우스 모버한 경우 그 안의 하위 메뉴 스타일 설정 */
    height: auto;           /* 높이를 93px로 설정 */
}
.submenuLink:hover {        /* 하위 메뉴의 a 태그의 마우스 오버 스타일 설정 */
    color: red;                 /* 글씨색을 빨간색으로 설정 */
    background-color: #8C8C8C;  /* 배경을 RGB(DDDDDD)로 설정 */
}
/*상단 드롭메뉴 관련 css 끝.*/



/*메인 사진 부분의 설정*/
#content {
	margin-top:0px;
	width:100%;
	max-width: 1500px;
	height: 320px;
	ALLOWTRANSPARENCY: true;
	background-color: transparent;
	border: 0px;
}

/*메인 사진 설정*/
#content #main_img {
	margin-top:0px;
	width: 100%;	
}

#content #col1 {
	margin-top:20px;
	width:160px;
	min-height:500px;
	float:left;
	border-right:solid 1px #dddddd;
}

/* Update부터 bottom 전까지 전체 설정*/
#center {
	overflow:hidden;
	margin-top:30px;
	width:100%;
	min-height: 200px;
}

/* Update 라고 적힌 이지미 설정*/
#center  #update_img{
	margin-bottom:10px;
}

/* 공지사항, 학과행사일정, 포토겔러리, 바로가기 메뉴의 전체 설정*/
#center #side_menu {
	//position : absolute;
	width : 100%;
	max-width: 1500px;
}

/*공지사항 설정*/
#center #side_menu #side1{
	position : relative;
	width : 200px;
	text-align : left;
	float : left;
}

/*학과행사일정 설정*/
#center #side_menu #side2{
	position : relative;
	width : 200px;
	text-align : left;
	float : left;
	padding-left : 50px;
}

/*포토겔러리 설정*/
#center #side_menu #side3{
	position : relative;
	width : 200px;
	text-align : left;
	float : left;
	padding-left : 50px;
}

/*바로가기  설정*/
#center #side_menu #direct{
	position : relative;
	width : 300px;
	text-align : left;
	float : left;
	padding-left : 50px;
}

/*side_menu에서 공지사항, 학과행사일정 같은 제목 설정*/
#side_title {
	font-size : 10pt;
	color: black;
}

/* "더보기" 라는 텍스트 설정*/
#side_plus {
	float : right;
}

/*공지사항에서 글 제목 설정(www.naver.com 이런식으로 일단 해놈)*/
.notice_text {
	float : left;
	margin-bottom : 3pt;
}

/*공지사항에서 글의 날짜 설정*/
.notice_date {
	float : right;
	margin-bottom : 3pt;
}

/*포토겔러리에서 왼쪽사진 설정*/
.side_img1 {
	width = "80";
}
/*포토겔러리에서 오른쪽사진 설정*/
.side_img2 {
	float : right;
	width = "80";
}

/* 바로가기에서 사진 4개(1,2,3,4가 적힌 이미지들임..)들의 설정 */
.more_menu {
}

/*메인 홈페이지에 가장 아래에 있는 학과 주소와 그 아랫줄의 텍스트 설정*/
.bottom_text {
}

/* 가장아래에 학교홈페이지 라고 적힌 다른 홈페이지로 이동할 수 있는 탭 */
#page_link {
	float : right;
	margin-right : 75px;
}

#left_menu {
	width:92%;
	height:270px;
	margin-left:7px;
}

#left_menu #sub_title{
	padding-top:10px;
	height:30px;
	border-bottom:solid 1px #dddddd;
}

#left_menu #sub_title img{
	padding-left:10px; 
/*	padding-top:20px;   */
}

#left_menu ul{
	padding-left:5px;
	padding-top:10px;
	padding-bottom:100px;
/*	border-bottom:solid 1px #dddddd; */
}

#left_menu li{
	padding:5px;
}

#latest {
	width:1000px;
}

#latest1 {
	width:46%;
	height:250px;
	float:left;
	padding-right:20px;
	margin:15px 0 0 20px;
	border-right:solid 1px #dddddd;
}

#title_latest1 {
	height:30px;
	border-bottom:solid 2px #dddddd;
}

#title_latest1 img {
	padding-bottom:5px;
}


.latest_box {
	margin-top:5px;
/*	border-bottom:dotted 1px #dddddd; */
}

.latest_box .col1 {
	width:65%;
	float:left;
	padding:5px 5px 4px 3px;
}

.latest_box .col2 {
	width:15%;
	float:left;
	padding:5px 5px 4px 3px;
}

.latest_box .col3 {
	float:left;
	padding:5px 5px 4px 3px;
}

#latest2 {
	width:46%;
	float:left;
	margin:15px 0 0 18px;
}

#title_latest2 {
	height:30px;
	border-bottom:solid 2px #dddddd;
}

#title_latest2 img {
	padding-bottom:5px;
}
section{
	min-height:600px;
}
footer{
	float:none;
	background-color: black;	
}
.fotter_addr{
	float:none;
	font-size: 15px;
	color: white;
}